<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Staff
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >

  <div>
    <p class="p1" id='staff'>Staff</p>
    <p class="p2">President or chancellor: </p>
    <ion-img class="work" src="assets/aryeri.jpg"></ion-img>
    <p class="p3">Aryeri Andrión</p>
  </div>

  <div>
    <p class="p2">Provost:</p>
    <ion-img class="work" src="assets/adaelys.jpg"></ion-img>
    <p class="p3">Adaelys Campos</p>
  </div>

  <div>
    <p class="p1">Outstanding Professors</p>
    <p class="p2">International Business:</p>
    <ion-img class="work" src="assets/siria.jpg"></ion-img>
    <p class="p3">Siria Oda</p>
  </div>

  <div>
    <p class="p2">Business Administration:</p>
    <ion-img class="work" src="assets/grecia.jpg"></ion-img>
    <p class="p3">Grecia Ventura</p>
  </div>

  <div>
    <p class="p2">Marketing:</p>
    <ion-img class="work" src="assets/karol.jpg"></ion-img>
    <p class="p3">Karol Becerra</p>
  </div>

  <div>
    <p class="p2">Finance:</p>
    <ion-img class="work" src="assets/julieth.jpg"></ion-img>
    <p class="p3">Julieth Acuña</p>
  </div>

  <div>
    <p class="p2">Economics:</p>
    <ion-img class="work" src="assets/pocho.jpg"></ion-img>
    <p class="p3">Amir Alveo</p>
  </div>

  <div>
    <p class="p2">Student President</p>
    <ion-img class="work" src="assets/gust.jpg"></ion-img>
    <p class="p3">Gustavo Navarro</p>
  </div>

  <div>
    <p class="p2">Debate Conference Leader:</p>
    <ion-img class="work" src="assets/xionelly.jpg"></ion-img>
    <p class="p3">Xionelly Carrera</p>
  </div>
</ion-content>
