<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>
        Contact us!
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card>
      <img src="assets\ubi.jpg" alt="">
    </ion-card>
    <h3><a href="https://goo.gl/maps/PLxZC453eiAiwoE2A">Ubication</a></h3>
    <p class="p1" id='about'>Contact Us</p>
    <p class="p2">Street Bella vista 22
    </p>
    <p class="p2"> Phone: +507 6878 1107,            E-mail: kelloggpa@handlowa.eu 
    </p>
  </div>

</ion-content>
